{% load static %}
<!--/Users/kaorumatsunaga/mybusinessproduct/hare-camp/hare-camp1/blog/templates/blog/base.html-->
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!--viewportはページの表示方法を指定するためのメタタグ-->
    <title>はれ☀きゃん</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="container">
            <!-- ナビゲーションブランド -->
            <div class="navbar-brand">
                <a class="navbar-item" href="{% url 'homepage' %}">
                    はれ☀きゃん
                </a>
            </div>

            <!-- ナビゲーションメニュー -->
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-end" style="padding-right: 10px;">
                    {% if user.is_authenticated %}
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            {{ user.username }}
                        </a>
                        <div class="navbar-dropdown">
                <form action="{% url 'user_logout' %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="navbar-item" style="background: none; border: none; padding: 0; color: inherit; text-decoration: none; cursor: pointer;">
                        ログアウト
                    </button>
                        </div>
                    </div>
                    {% else %}
                    <a class="navbar-item" href="{% url 'user_login' %}">
                        ログイン
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

    <section class="section">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </section>
</body>

</html>
