{% extends "blog/base.html" %}
{% block content %}
<main class="container">
    <article class="message is-primary">
        <div class="message-header">
            <p>{{ campsite.name }}</p>
        </div>
        <div class="message-body">
            <div class="image-container" style="max-width: 800px; margin: auto;">
                <figure class="image is-4by3">
                    <img src="{{ campsite.image.url }}" alt="{{ campsite.name }}" style="max-width: 100%; height: auto;">
                </figure>
            </div>
            <h2 class="subtitle">場所: {{ campsite.location }}</h2>
            <p>{{ campsite.description|linebreaksbr }}</p>
            <hr>
            <!-- アクセス情報の表示 -->
            <h3>アクセス:</h3>
            <p>{{ campsite.access_info|linebreaksbr }}</p>
            <hr>
            <!-- 料金の表示 -->
            <h3>料金: {{ campsite.price|linebreaksbr }}</h3>
            <hr>
            <!-- 電話番号の表示 -->
            <h3>電話番号: {{ campsite.phone_number|linebreaksbr }}</h3>
            <hr>
            <h1>設備情報</h1>
            <ul>
                {% for key, value in campsite.amenities.items %}
                <li>{{ key }}: {{ value }}</li>
                {% endfor %}
            </ul>
        </div>
    </article>

    <section class="reservation-section">
        <p>下記の予約フォームからご希望の日程と人数を選んでください。</p>
        <div class="container">
            <a href="{% url 'create_booking' campsite_id=campsite.id %}" class="button is-primary">予約する</a>
        </div>
    </section>
</main>
{% endblock %}
