<!-- creat_booking.html-->
{% extends "blog/base.html" %}
{% block content %}
<div class="section"><!-- sectionはコンテンツを区切るための要素 -->
    <div class="container"> <!-- containerはコンテンツを中央に配置するための要素 -->
        <h1 class="title">キャンプ場を予約する</h1>
        <form action="{% url 'create_booking' campsite_id=campsite.id %}" method="post"> <!-- formタグでPOSTリクエストを送信 -->
            {% csrf_token %} <!-- CSRF対策 -->
            <div class="field"> <!-- fieldはフォームの項目を配置するための要素 -->
                <label class="label" for="start_date">開始日</label> 
                <div class="control">
                    <input class="input" type="date" id="start_date" name="start_date" required>
                </div>
            </div>
            <div class="field">
                <label class="label" for="end_date">終了日</label>
                <div class="control">
                    <input class="input" type="date" id="end_date" name="end_date" required>
                </div>
            </div>
            <div class="field">
                <label class="label" for="num_people">人数</label>
                <div class="control">
                    <input class="input" type="number" id="num_people" name="num_people" required>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button class="button is-primary" type="submit">予約する</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

