<!--login.html-->
{% extends "blog/base.html" %}
{% block content %}
<div class="columns is-centered">
    <div class="column is-5-tablet is-4-desktop is-3-widescreen">
        <form action="{% url 'user_login' %}" method="post" class="box">
            {% csrf_token %}
            <div class="field">
                <label for="username" class="label">ユーザー名</label>
                <div class="control">
                    <input type="text" name="username" id="username" class="input" required>
                </div>
            </div>
            <div class="field">
                <label for="password" class="label">パスワード</label>
                <div class="control">
                    <input type="password" name="password" id="password" class="input" required>
                </div>
            </div>
            {% if error %}
            <p class="help is-danger">{{ error }}</p>
            {% endif %}
            <div class="field">
                <button type="submit" class="button is-success">
                    ログイン
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
